/* ---------------------- VARIABLES ---------------------- */

@main: #34314c;
@secondary: #9592ad;
@border: #d9ee9;

@highlight_1: #fd7473;   // red
@highlight_2: #fec951;   // yellow
@highlight_3: #47b8e0;   // blue
@highlight_4: #9f68d0;   // purple


/* ---------------------- GLOBAL STYLES ---------------------- */

body {
  font-family: "Open Sans", sans-serif; 
}



/* ---------------------- X STYLES ---------------------- */







/* ---------------------- X STYLES ---------------------- */







/* ---------------------- MEDIA QUERIES ---------------------- */

