/* ---------------------- VARIABLES ---------------------- */

@main: #34314c;
@secondary: #9592ad;
@border: #d9ee9;
@white: #ffffff;
@highlight_1: #fd7473;   // red
@highlight_2: #fec951;   // yellow
@highlight_3: #47b8e0;   // blue
@highlight_4: #9f68d0;   // purple


/* ---------------------- GLOBAL STYLES ---------------------- */

body {
  font-family: "Open Sans", sans-serif; 
}

.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}




/* ---------------------- BORDER STYLES ---------------------- */

.border {
  height: 6px;
  border: 0;
  background-color: @highlight_1;
  background-image: 
    linear-gradient(
        to right,
        @highlight_1,
        @highlight_1 25%,
        @highlight_2 25%,
        @highlight_2 50%,
        @highlight_3 50%,
        @highlight_3 75%,
        @highlight_4 75%,
        @highlight_4 100%,
        @highlight_4 100%
       );
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;  
}





/* ---------------------- HEADER STYLES ---------------------- */

.main_header {
  margin: 5em 0 3em 0;
}

.logo {
  img {
    width: 75px;
    float: left;
  }
  h1 {
    float: left;
    margin: 0 0 0 1em;
    text-transform: uppercase;
    font-size: 1.35em;
    padding-top: 1.1em;
    color: @main;
    span {
      font-weight: 400; 
    }
  }
}

.nav {
  float: right;
  padding-top: 1.75em;
  a {
    color: @secondary;
    margin-left: 1em;
    text-decoration: none;
  }
  .current {
    font-weight: 700;
    color: @main;
  }
}



/* ---------------------- TIMELINE STYLES ---------------------- */

#timeline {
  width: 100%; 
  position: relative;
  list-style: none;
  padding: 0;
  a {
    text-decoration: none;
  }
  .listing {
    background-color: @white;
    border: 1px solid @border;
    border-radius: .3em;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;  /* each of the items inside of here are going to act as table cells; can vertically align in the middle */
    width: 100%;
    img, .info, .job_type {
      display: table-cell;
      vertical-align: middle;
      font-size: .9em;
      color: @secondary;
    }
    .img_wrapper {
      width: 60px;
      img {
        width: 60px;
        display: block;
        margin: 0 auto;
        border-radius: .25em;
      } 
    }
    .info {
      line-height: 1.25;
      width: 640px;
      padding-left: 25px;
      .job_title {
        font-weight: 700;
        color: @main;
        font-size: 1.5em;
      }
      .job_info {
        color: @secondary;
        display: block;
        span {
          margin: 0 .75em; 
        }
      }
    }
  }
}








/* ---------------------- MEDIA QUERIES ---------------------- */

